
[submodule "isaac_ros_common"]
	path = isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common.git
[submodule "isaac_ros_nitros"]
	path = isaac_ros_nitros
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_nitros.git
[submodule "opendrive_global_planner/libOpenDRIVE"]
	path = opendrive_global_planner/libOpenDRIVE
	url = https://github.com/pageldev/libOpenDRIVE.git
