[Unit]
Description=srd-main-startup
After=srd-can-startup.service

[Service]
Type=oneshot
ExecStart=/home/dv/srd_main_startup.sh

[Install]
WantedBy=default.target